body {
	width:700px;
}
.gif {
	background:url("../img/ajax-loader.gif");
	display:block;
	width: 16px;
	height: 11px;
	margin: 0 auto;
}

/* start spriting */
.icon { background: url(../img/sprite.png) no-repeat top left; display: inline-block; width: 60px; height: 20px }
.iconAll { background-position: 0px -60px; }
.iconWiiU { background-position: 0px -100px;}
.iconPM { background-position: 0px -120px; }
.icon3DS { background-position: 0px -80px; }
.iconBrawl { background-position: 0px -40px; }
.iconMelee { background-position: 0px -20px }
.icon64 { background-position: 0px 0px; }

tr {
	cursor:pointer;
}
.faq {
	display: block;
	margin-top: -10px;
	margin-left: 10px;
}