body {
	width:700px;
}

.tab {
	width: 50px;
	height: 50px;
}

.tabcontent {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.icon {
	width: 30px !important;
	height: 30px !important;
}

.title {
	font-size: 1rem !important;
	font-weight: bold;
}

.streamer {
	width: 70%;
}

.channelimg {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.game-name {
	width: 60%;
}

.game, .viewers, .details, .stream-count, .refresh {
	width: 10%;
	text-align: center;
}

.tournament-header {
	width: 90%;
	font-size: 2rem;
	text-align: center;
}

.header {
	font-weight: bold;
}

.panel-icon.game {
	margin-top: -15px;
}

.subtitle .powered-by {
	font-size: 1rem;
	text-align: center;
	width: 100%;
}

.title .stream-count, .title .viewers {
	margin-right: 15px;
}

.panel-block .box {
	width: 100%;
}

.tournament-name, .event-name {
	font-weight: bold;
}

.eventContainer {
	background: #f5f5f5;
}

.eventContainer hr {
	background-color: #e5e5e5 !important;
}

/* start spriting */
.smashicon { display: inline-block; width: 30px; height: 30px;}
.all { background: url(../img/icons/all.png) no-repeat top left; background-size: contain;  }
.ultimate { background: url(../img/icons/ultimate.png) no-repeat top left; background-size: contain;  }
.wiiu { background: url(../img/icons/wiiu.png) no-repeat top left; background-size: contain;  }
.threeds { background: url(../img/icons/threeds.png) no-repeat top left; background-size: contain;  }
.brawl { background: url(../img/icons/brawl.png) no-repeat top left; background-size: contain;  }
.melee { background: url(../img/icons/melee.png) no-repeat top left; background-size: contain;  }
.sixtyfour { background: url(../img/icons/sixtyfour.png) no-repeat top left; background-size: contain;  }
.pm { background: url(../img/icons/pm.png) no-repeat top left; background-size: contain; }

.panel-block {
	cursor:pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}